/*
 * Empty Stylesheet file.
 */

.background {
    -fx-background-color: #03A9F4;
}


.label
{
    -fx-text-fill: FFFFFF;
    -fx-font-size: 20px;
}

.button
{
    -fx-background-color: #0288D1;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button:hover
{
    -fx-background-color: #B3E5FC;
}

.text-input
{
    -fx-font-size: 15px;
}